<!--hii-->
<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type='text/javascript' src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="myApp" ng-controller="MainController">
     <div >
        <input type="file" ng-file-select="fileSelected($files)" accept="'image/*'">
        <input type="submit" ng-click="uploadFiles()" value="Upload" />
        <span id = "status"></span>
      <table ng-repeat="x in res">
        <th>id</th>
        <th>score</th>
        <th>grade</th>
		<tr ng-repeat="y in x.student">
       		<td >{{y.id}}</td>
       		<td >{{y.score}}</td>
       		<td >{{y.grade}}</td>
       	</tr>	
		</table>
    </div>
</body>

</html>